<% if @session_user && @session_user.admin? %>
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <a href="<%= new_article_path %>" rel="nofollow">
          <button type="button" class="btn btn-info btn-md">New Article</button>
        </a>
      </div>
    </div>
  </div>
<% end %>