<div class="load_container">
  <div class="loading_screen"></div>
  <div class="message">
    <h2>Working <%= image_tag 'icons/loading.gif' %></h2>
    <span class="disclaimer">This may take a few seconds.</span>
  </div>
</div>