<div class="row">
  <div class="col-sm-12">
    <div class="well text_content">
      <h3 class="list-group-item-heading">The Future of Draftin'</h3>
      <div class="special_hr" style="margin: 10px 0px 20px 0px;"></div>
      <p>
        I started Draftin' because a few friends and I have always wanted to hold drafts. The problem is that our group is scattered throughout the world, meaning we can only do drafts in an mtg draft simulator. I am fine with virtual drafts, but the sad truth is that there is not one professional quality and easy to use mtg draft simulator on the market.
      </p>
      <p>
        I have been developing software for roughly 10 years, and given my passion for mtg I took it upon myself to develop the best drafting software I possibly could, and the result has been extremely satisfying. Draftin' currently has a focus on drafting simulation, but I would like to add a few <em>Quality of Life</em> tools moving forward.
      </p>
      <p>
        Along with drafting, I would love to see draftin have a <strong>deck builder</strong>, a <strong>deck analyzer</strong> and a <strong>collection manager</strong>. I would love to see the deck builder give you real time stats on your deck as you add and remove cards. It would be awesome to be able to easily save, destroy and share decks made on Draftin'. I would also love to create an environment where you could share your draft/MTG experiences with others, meaning discussion boards on decks, drafts, etc.
      </p>
      <p>
        Obviously I have a lot of vision for where I would like to see Draftin' go, but I am of course always open to suggestion. On the footer of each page I have a feedback form that anybody can use to contact me with suggestions, bug reports, etc. I don't know where Draftin' will go, but the one thing I do know is that feedback will be a vital part of that process.
      </p>
    </div>
  </div>
</div>