<% @articles.each do |article| %>
  <div class="col-sm-4">
    <div class="well">
      <h3 class="list-group-item-heading"><%= link_to article.title, article %></h3>
      <p><span class="label label-default"><%= article.updated_at.strftime("Published on %m/%d/%Y") %></span></p>
      <p><%= markdown(truncate(article.content, length: 200)) %> <%= link_to "Continue...", article %></p>
    </div>
  </div>
<% end %>