<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <div class="row">
        <div class="col-sm-12" style="padding-top:20px;">
          <div style="display:none;"><h1>Draftin'</h1></div>
          <center><%= image_tag "logo-large.png", :class => "large_logo" %></center>
          <div style="margin: 35px 0px 35px 0px;"></div>
          <!--<p style="text-align:center;"><%= TAGLINE %></p>-->
          <!--<p style="text-align:center;">Login or create an account below to start Draftin'.</p>-->
          <p style="text-align:center;">Cease & Desist</p>
          <p style="text-align:center;">Forced by WotC, this website is permanently closed.</p>
        </div>
        <!--<div class="col-sm-6">
          <center>
            <iframe style="width:100%;height:255px;" src="//www.youtube.com/embed/K1Jp-VrOIZw" frameborder="0" allowfullscreen></iframe>
          </center>
        </div>-->
      </div>
    </div>
  </div>
</div>

<% if @thisistheonlywayintotheapplicationandnobodywillknow && @thisisanothervariablethatwillbeveryhardtoguess %>
  <%= render 'login' %>
<% end %>

<%# if @articles %>
  <!--<div class="row">
    <%#= render "news" %>
  </div>-->
<%# end %>

<%#= render "default/future" %>