<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <div class="row">
        <div class="col-sm-12" style="padding-top:20px;">
          <div style="display:none;"><h1>Draftin'</h1></div>
          <center><%= image_tag "logo-large.png", :class => "large_logo" %></center>
          <div style="margin: 35px 0px 35px 0px;"></div>
          <!--<p style="text-align:center;"><%= TAGLINE %></p>-->
          <!--<p style="text-align:center;">Login or create an account below to start Draftin'.</p>-->
          <p style="text-align:center;">Cease & Desist</p>
          <p style="text-align:center;">Forced by WotC, this website is permanently closed.</p>
        </div>
        <!--<div class="col-sm-6">
          <center>
            <iframe style="width:100%;height:255px;" src="//www.youtube.com/embed/K1Jp-VrOIZw" frameborder="0" allowfullscreen></iframe>
          </center>
        </div>-->
      </div>
    </div>
  </div>
</div>

<% if @thisistheonlywayintotheapplicationandnobodywillknow && @thisisanothervariablethatwillbeveryhardtoguess %>
  <%= render 'login' %>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <div class="row">
        <div class="col-sm-12">
          <p>An Open Letter on Draftin’</p>
          <p>
            As a long time player and supporter of MTG I was terribly sad that Draftin’ was issued me a cease and 
            desist by legal counsel for Wizards of the Coast. I had worked so hard on the project and innovated so 
            greatly on the standard drafting interface. So many users had already started using the application and 
            the feedback from them was amazing. Draftin’ truly was becoming the best and most popular drafting tool 
            on the market. Even though I more than likely could have fought the this issue on the grounds of fair use, 
            that was not a fight I wanted to invest my own time and money into. As such, I complied with their request.
          </p>
          <p>
            Even though I took down the application I learned a ton doing this project. I would do it all again even if 
            I knew I would be shut down. I also learned that in a few short weeks I can turn an idea/vision into a viral 
            enough hit that a mega corporation will threaten with legal action. As a Software Architect & Engineer, this 
            makes me really proud. I also learned that I can develop an application capable of withstanding beyond 
            <strong>3,268,800</strong> requests per day at <strong>< 100 millisecond</strong> response times. That’s over 
            <strong>2270</strong> requests per minute!
          </p>
          <center>
            <img src="http://i98.photobucket.com/albums/l280/MH_Strife/ScreenShot2014-04-08at12617PM-1.png" width="40%" />
          </center>
          <br>
          <p>
            Draftin’ may have been shut down, but the project without a doubt helped me grow as a developer and product 
            designer.  While I understand why my project was taken down, I wish I could have finished it. I also wish that 
            Wizards of the Coast would be more willing to embrace some of the innovation of their community. One thing my user 
            base continually asked me is if Draftin’ could integrate with MTG: Online. It was clear that the project was headed 
            in a direction the community was inspired by and supported.
          </p>
          <p>
            At any rate, development and use of Draftin’ ceased on Wednesday April 9, 2014. This project will remain a great mark 
            & milestone in my resume and portfolio which can be found at 
            <a href="http://www.shawndeprey.com/">http://www.shawndeprey.com/</a>. I truly hope this project 
            inspires the community to learn and innovate rather than scare them away from it. Don’t be scared to create or do 
            something you believe in/have vision for, because the when you stop learning, you stop living.
          </p>
          <p>
            Cheers,<br>
            Shawn
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%# if @articles %>
  <!--<div class="row">
    <%#= render "news" %>
  </div>-->
<%# end %>

<%#= render "default/future" %>