<div class="row">
  <div class="col-sm-4">
    <div class="well text_content">
      <h3 class="list-group-item-heading">What is Draftin'?</h3>
      <div class="special_hr" style="margin: 10px 0px 20px 0px;"></div>
      <p>
        <%= image_tag "logo.png", :style => "width:75px;margin-top:-7px;" %> is a simple to use and highly functional drafting simulator for the Magic the Gathering card game. You can host drafts, invite your friends, chat with other users, and practice drafting in an environment extremely similar to a physical draft.
      </p>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="well text_content">
      <h3 class="list-group-item-heading">What is Draftin' Not?</h3>
      <div class="special_hr" style="margin: 10px 0px 20px 0px;"></div>
      <p>
        Draftin' is not a Magic the Gathering Game Simulator. That is, Draftin' will not allow you to play Magic. I feel it's important to emphasise that we should go out and support our local card shops. Draftin's purpose is to help users practice drafting in as realistic an environment as possible.
      </p>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="well text_content">
      <h3 class="list-group-item-heading">Hosting a Draft</h3>
      <div class="special_hr" style="margin: 10px 0px 20px 0px;"></div>
      <p>
        When you create a draft in Draftin', you are the <em>draft coordinator</em>. This means that you are hosting the draft. Only draft coordinators are able to set room passwords, start/end drafts and progress drafts through the packs you and your friends chose.
      </p>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-sm-4">
    <div class="well text_content">
      <h3 class="list-group-item-heading">Joining a Draft</h3>
      <div class="special_hr" style="margin: 10px 0px 20px 0px;"></div>
      <p>
        If your friend has already started a draft, you will have to join that draft's <em>lobby</em> to participate. Joining a draft's lobby is as simple as getting the draft <strong>id</strong> and <strong>password</strong> from your friend. Keep in mind that passwords for drafts are optional.
      </p>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="well text_content">
      <h3 class="list-group-item-heading">The Drafting Process</h3>
      <div class="special_hr" style="margin: 10px 0px 20px 0px;"></div>
      <p>
        When a draft is in progress, there are 3 sections you need to be aware of: Users, Current Pack and My Cards. The <strong>Users</strong> section contains users in the draft. The <strong>Current Pack</strong> section show the last pack that was given to you. The <strong>My Cards</strong> section shows all cards you have chosen.
      </p>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="well text_content">
      <h3 class="list-group-item-heading">Ending a Draft</h3>
      <div class="special_hr" style="margin: 10px 0px 20px 0px;"></div>
      <p>
        Once you and your friends have gone through the motions of a draft, you will be brought to the <em>draft ended</em> screen. From here, you can export your chosen cards to popular formats to use in other tools such as deck analyzers.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="well text_content">
      <h3 class="list-group-item-heading">Pack Generation</h3>
      <div class="special_hr" style="margin: 10px 0px 20px 0px;"></div>
      <p>
        Pack generation is build to be as realistic as possible. I have gone through each set Wizards of the Coast ever released and ensured the pack layout, rarity of cards and insertion of specialty cards is exactly as they intended. This means when you practice drafting, it will be just like a real draft.
      </p>
      <p>
        I have also taken card to make it so any set's packs will be able to be drafted with any other set's packs. For instance, Alpha and Beta packs only had 8 cards in them <em>(6 common and 2 uncommon)</em>. I have bumped such pack generation up to 10 common and 4 uncommon. The distrobution is exact same, but the pack can now be drafted with any other pack.
      </p>
    </div>
  </div>
</div>

<%= render "default/future" %>