<div class="row">
  <div class="col-sm-12">
    <center><h2>Admin Panel</h2></center>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="<%= feedbacks_url %>">
      <button type="button" class="btn btn-primary btn-md">Feedback</button>
    </a>
    <a href="<%= articles_url %>">
      <button type="button" class="btn btn-primary btn-md">Articles</button>
    </a>
    <a href="<%= drafts_url %>">
      <button type="button" class="btn btn-primary btn-md">Drafts</button>
    </a>
    <a href="<%= users_url %>">
      <button type="button" class="btn btn-primary btn-md">Users</button>
    </a>
  </div>
</div>