<div class="row">
  <div class="col-sm-12">
    <center><h2>Admin Panel</h2></center>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="<%= feedbacks_url %>">
      <button type="button" class="btn btn-primary btn-lg">Feedback</button>
    </a>
  </div>
</div>