<div class="row">
  <div class="col-sm-8">
    <div class="well text_content">
      <h3 class="list-group-item-heading">Support Development</h3>
      <div class="special_hr" style="margin: 10px 0px 20px 0px;"></div>
      <p>
        While it certainly isn't my intention to make money on Draftin', there are a few reasons I decided to put up a donation button. First, it actually costs money to run Draftin', and as this project grows so will the costs of running the servers. Next, it's actually a lot of work to create a professional quality application like draftin.
      </p>
      <p>
        Anyway, if you would like to support the development and continuation of Draftin', then the gesture is much appreciated. Thank you.
      </p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="well text_content">
      <h3 class="list-group-item-heading">Donate to Draftin'</h3>
      <div class="special_hr" style="margin: 10px 0px 20px 0px;"></div>
      <center>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="APRDVYWA7N6ZS">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
      </center>
    </div>
  </div>
</div>