<div class="row">
  <div class="col-lg-12">
    <div class="bs-example">
      <div class="jumbotron">
        <h1>Draftin'</h1>
        <p>A simple drafting tool for Magic the Gathering.</p>
        <p><a class="btn btn-primary btn-lg" href="/example">See Template Examples</a></p>
      </div>
    </div>
  </div>
</div>