<div class="row draft_stage_2">

  <div class="col-sm-12 finish_col">
    <div class="well well-sm finish_message">
      Draft is over. Export your cards below.
    </div>
  </div>

  <%= render "drafts/my_cards" %>

</div>