<div class="row">
  <div class="col-sm-6">
    <h3>
      <span data-toggle="tooltip" data-placement="top" title="ID needed to join this draft." class="label label-info" id="draft_id">#<%= @draft.id %></span>
      <%= @draft.name %>
    </h3>
  </div>
  <div class="col-sm-6">
    <div style="margin: 12px 0px 0px 0px;"></div>

    <% if @draft.user.id == @session_user.id %>
      <% if @draft.stage == CREATE_STAGE %>
        <div data-toggle="tooltip" data-placement="top" title="Need at least 2 players." style="float:right;">
          <button type="button" class="btn btn-success start_button disabled" onclick="$('button.start_button').addClass('disabled');draftin.draft.lobby.startDraft();">Start Draft</button>
        </div>
      <% elsif @draft.stage == DRAFT_STAGE %>
        <div data-toggle="tooltip" data-placement="top" title="Finish current pack first." style="float:right;">
          <button type="button" class="btn btn-success next_button disabled" onclick="$('button.next_button').addClass('disabled');draftin.draft.table.nextPack();" style="float:right;">Next Pack</button>
        </div>
      <% end %>
      <% if @draft.stage != END_STAGE %>
        <a data-method="delete" href="<%= draft_path(@draft) %>" rel="nofollow" data-confirm="Are you sure?" style="float:right; padding:0px 5px;">
          <button type="button" class="btn btn-danger">Destroy Draft</button>
        </a>
      <% end %>
    <% end %>

    <a data-method="delete" href="<%= draft_path(@draft) %>/leave" rel="nofollow" data-confirm="Are you sure?" style="float:right;">
      <button type="button" class="btn btn-warning">Leave Draft</button>
    </a>

  </div>
</div>